.category__wrapper {
  padding: 220px 15px 0;
  margin-bottom: 100px;
}
.category__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
}
.category__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    line-height: 50px;
    font-family: "Italiana", serif;
    font-weight: 400;
    margin-bottom: 35px;
  }

