.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.bestsellers__title {
  font-size: 34px;
  line-height: 36px;
  font-family: "Italiana", serif;
  font-weight: 400;
}
.slick-prev:before, .slick-next:before {
    font-size: 50px;
    color: black;
}
.bestseller__wrap {
  margin-bottom: 50px;
}
